.testimonials_container{
    width: 40%;
    padding-bottom: 4rem;
}
.testimonials_container h5{
    color: var(--color-light);
}
.clint_avatar{
    width: 4rem;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto 1rem;
    border: 0 auto solid var(--color-primary-variant);
    
}
.testimonial{
    background: var(--color-bg-variant);
    text-align: center;
    padding: 2rem;
    user-select: none;
    border-radius: 2rem;
}
.clint_review{
    color: var(--color-light);
    font-weight: 300;
    display: block;
    width: 80%;
    margin: 0.8rem auto 0;
    
}
.client_review{
    color: white;
}
@media screen and (max-width:1020px){
    header{
        height: 68vh;
    }
     
 }
 
 @media screen and (max-width:600px){
 
     header{
         height: 100vh;
     }
     .header-socials , .scroll_down{
         display: none;
     }
 }
